auth-service/node_modules
employee-service/node_modules
team-service/node_modules
getway-service/node_modules

getway-service/package-lock.json
team-service/package-lock.json
employee-service/package-lock.json
auth-service/package-lock.json

